<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main}">
<head><title>Campaña</title></head>
<body>
<div layout:fragment="content">
    <div class="page-header"><h1 th:text="${campana.nuevo} ? 'Nueva campaña' : 'Editar campaña'">Campaña</h1></div>
    <div class="card"><div class="card-body">
        <form th:action="@{/campanas/guardar}" th:object="${campana}" method="post">
            <div th:replace="~{fragments/ui :: errores}"></div>
            <input type="hidden" th:field="*{id}">
            <div class="row">
                <div class="col-md-8"><div th:replace="~{fragments/ui :: campo('nombre', 'Nombre de la campaña', 'text')}"></div></div>
                <div class="col-md-4"><div th:replace="~{fragments/ui :: selectEnum('canal', 'Canal', ${canales}, 'Seleccione...')}"></div></div>
                <div class="col-md-3"><div th:replace="~{fragments/ui :: campo('fechaInicio', 'Fecha de inicio', 'date')}"></div></div>
                <div class="col-md-3"><div th:replace="~{fragments/ui :: campo('fechaFin', 'Fecha de fin', 'date')}"></div></div>
                <div class="col-md-3"><div th:replace="~{fragments/ui :: campo('presupuesto', 'Presupuesto (S/)', 'number')}"></div></div>
                <div class="col-md-3"><div th:replace="~{fragments/ui :: selectEnum('estado', 'Estado', ${estados}, null)}"></div></div>
                <div class="col-12"><div th:replace="~{fragments/ui :: campo('publicoObjetivo', 'Público objetivo', 'text')}"></div></div>
                <div class="col-12"><div th:replace="~{fragments/ui :: areaTexto('descripcion', 'Descripción')}"></div></div>
            </div>
            <button class="btn btn-primary"><i class="bi bi-save me-1"></i>Guardar</button>
            <a class="btn btn-light" th:href="@{/campanas}">Cancelar</a>
        </form>
    </div></div>
</div>
</body>
</html>
